<!DOCTYPE html>
<html>
<head>
<title>Tag cloud</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style type="text/css"></style>

</head>
<body>
  <section>
    <div class="container">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js"></script>
      <script src="../public/d3.layout.cloud.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="../public/tag_cloud.js">, type='text/javascript'</script>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2> Week 7 - 7 </h2>
          </div>
          <div class="panel-body">
            <div id="tag_vis"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>
